Datasets/*/*.csv
__pycache__/
.vscode/    
.env/
*.pyc   
!.gitignore
!.gitkeep
.DS_Store
.ipynb_checkpoints
utils/debug/


Datasets/**
!Datasets/**/
!Datasets/**/*.Template/*
!Datasets/**/.Template/*

!.gitkeep